// color
$primary:    #F9D802 !default;
$secondary:    #2F80ED !default;

// font size
$font-base: 16px;

// size
$width: 1200px;

// screen
$mobile: 375px;   // iphone X, 6, 7, 8
$mobile-plus: 576px; // iphone 6, 7 ,8 Plus, Xs Max
$ipad-port: 768px; 
$ipad-land: 1024px;
$desktop: 1200px;
$desktop-large: 1440px;